<!DOCTYPE html>
<html>
<head>
  <title>About</title>
</head>
<body>
  <h1>About This App</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </nav>
  <p>This is the about page. Learn more about our Thanksgiving traditions!</p>
</body>
</html>
