<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <h1>Welcome to My Express App</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </nav>
  <p style="text-align: center;">This is the home page. Happy Thanksgiving!</p>
  <a href="/download" class="download-button">Download Full Stack Roadmap PDF</a>
</body>
</html>
